.youtube-home {
    background-color: #E7EBF0;



    .add-post {
        padding-top: 25px;

        .begin-button {
            margin-top: 6%;
        }

        .posts {
            cursor: pointer;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .posts:hover {
            color: #1976D2;
            text-decoration: underline;
        }
    }
}

.yt-container {
    margin-top: 50px;
    margin-bottom: 50px;

    .card-highlight {
        background-color: rgb(255, 255, 255);
    }

    .published-time {
        color: #1976D2;
    }

    .video-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
    }

    .card {
        height: 300px;
    }
}